<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice creams list</title>
  </head>
  <body>
    <div>
      {% for ice_cream in ice_creams %}
      <a href="{%url 'ice_cream_details' ice_cream_id=ice_cream.id %}"
        ><h1>{{ice_cream.id}} - {{ice_cream.name}}</h1></a>
      <p>flavors: </p>
      <ul>
        {% for flavor in ice_cream.flavors.all %}
        <li>{{ flavor.name }}</li>
        {% endfor %}
      </ul>
      <p>shop: {{ice_cream.shop}}</p>
      <hr />
      {% endfor %}
    </div>
  </body>
</html>
